@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

.project{
    display: flex;
    flex-direction: row; /* Por padrão, a direção é row, então isso pode ser omitido */
    justify-content: space-evenly; /* Isso coloca as divs no início e no final do container pai */
    align-items: center;
    margin-bottom: 30rem;
}

.project-stack{
    color: #56859b;
    margin-bottom: .3rem;
}

.project-main-title{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20rem;

    font-size: 5rem;
}

.project-text{
    width: 45rem;
    font-size: 2rem;
}

.project-text p{
    font-family: 'Lexend', sans-serif;
}

.project-title{
    font-size: 2.6rem;
    margin-bottom: 2rem;
}

button, a{
   margin-right: 1rem;
   margin-top: 3rem;
   text-decoration: none;
}

.buttons-container{
    display: flex;
    width: 37rem;
}

.project-image img{
    max-width: 50vw;
    height: auto;
}

.email-text{
    font-size: 1.7rem;
}

.cta-buttons {
    padding: 1.3em 2em;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .cta-buttons:hover {
      background-color: #67fb1f;
      box-shadow: 0px 15px 20px rgba(3, 255, 154, 0.418);
      color: #000;
      transform: translateY(-7px);
    }
    
    .github-button:hover{
      background-color: #fb521f;
      box-shadow: 0px 15px 20px rgba(3, 255, 154, 0.418);
      color: #ffffff;
      transform: translateY(-7px);
    }
    
  cta-buttons:active {
    transform: translateY(-1px);
  }

  .prod{
    font-family: 'Lexend', sans-serif;
    background-color: #1fb5fb;
}

.erro{
    font-family: 'Lexend', sans-serif;
      background-color: #fb521f;
  }